# policy configurations for robot

[rl]
gamma = 0.9


[om]
cell_num = 4
cell_size = 1
om_channel_size = 3


[action_space]
kinematics = unicycle
enforce_lims = true
max_vel = 1
max_wrot = 3.14
max_accel = 1.5
max_w_accel = 3.14
# action space size is speed_samples * rotation_samples + 1
speed_samples = 5
rotation_samples = 16
sampling = exponential
query_env = true


[cadrl]
mlp_dims = 150, 100, 100, 1
multiagent_training = false


[lstm_rl]
global_state_dim = 50
mlp1_dims = 150, 100, 100, 50
mlp2_dims = 150, 100, 100, 1
multiagent_training = true
with_om = false
with_interaction_module = false


[srl]
mlp1_dims = 150, 100, 100, 50
mlp2_dims = 150, 100, 100, 1
multiagent_training = true
with_om = false


[sarl]
mlp1_dims = 150, 100
mlp2_dims = 100, 50
attention_dims = 100, 100, 1
mlp3_dims = 150, 100, 100, 1
multiagent_training = true
with_om = false
with_global_state = true


[diffusion_v3]
norm_file = norm_stats.npy
start_dim = 1
goal_dim = 2
multiagent_training = false
ckpt_path = ckpt_step99000.pt
horizon = 16
k_max = 10

[diffusion_v1]
norm_file = norm_stats_v1.ego.npy
start_dim = 1
goal_dim = 2
multiagent_training = false
ckpt_path = ckpt_step99000_v1.ego.pt
horizon = 16
k_max = 10

[diffusion_v2]
norm_file = norm_stats_v2.ego.npy
start_dim = 4
goal_dim = 2
multiagent_training = false
ckpt_path = ckpt_step99000_v2.ego.pt
horizon = 16
k_max = 10

[diffusion_wf]
norm_file = norm_stats_wf.npy
start_dim = 4
goal_dim = 2
multiagent_training = false
ckpt_path = ckpt_step99000_wf.pt
horizon = 16
k_max = 10

[diffusion_v2wf]
norm_file = norm_stats_v2wf.npy
start_dim = 4
goal_dim = 2
multiagent_training = false
ckpt_path = ckpt_step99000_v2wf.pt
horizon = 16
k_max = 10

[diffusion_conditional_unet1d]
norm_file = norm_stats_UNet_cond_ego.npy
start_dim = 1
goal_dim = 2
multiagent_training = false
ckpt_path = ckpt_step16000_UNet_cond_ego.pt
horizon = 32
k_max = 10

[diffusion_conditional_unet1dtokens]
norm_file = norm_stats_ETHUCY_noRot.npy
start_dim = 1
goal_dim = 2
multiagent_training = true
ckpt_path = ckpt_step7100_stageB_v7.pt
horizon = 32
k_max = 10
num_inference_steps = 5
ddim_inference = true

[diffusion_conditional_unet1dcfg]
cfg_weight = 1
cfg_w_scene = 1.0
cfg_w_style = 5.0
classifierguide = false
guidance_scale = 10
norm_file = norm_stats_SOCIAL_NORMS8.npy
start_dim = 2
goal_dim = 2
token_dim = 128
multiagent_training = true
ckpt_path = ckpt_step478000_SOCIAL_NORMS8.pt
horizon = 32
k_max = 10
num_diffusion_timesteps = 100
num_inference_steps = 20
ddim_inference = true
num_samples = 5
collision_coef = 10
smooth_pen_coef = 1
goal_reward_coef = 5
safety_radius = 0.5
control_effort_coef = 0.5
use_projection = true
proj_max_dev_thresh = 5.0
proj_max_slack_thresh = 0.5
proj_solver_mode = RTI
k_static = 20
use_map = true
map_size = 50
map_extent = 10
style_vector = 0.0, 0.0, 0.0, 0.0
use_amp = true
amp_dtype = bfloat16


[diffusion_conditional_unet1dcfg_feasible]
cfg_weight = 3
norm_file = norm_stats_FEASIBLEw014.npy
start_dim = 2
goal_dim = 2
token_dim = 128
multiagent_training = true
ckpt_path = ckpt_step999000_FEASIBLEw014.pt
horizon = 32
k_max = 10
num_diffusion_timesteps = 100
num_inference_steps = 20
ddim_inference = true
num_samples = 5
collision_coef = 10
smooth_pen_coef = 1
goal_reward_coef = 0.05
safety_radius = 0.5
control_effort_coef = 0.5
